@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*
{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: #F8FAFC;
}

body {
    background-image: url('images/bg-image.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 100%;
    padding: 20px 75px;
}

h1 {
    margin: 0px auto;
    font-size: 4rem;
    font-weight: bold;
    max-inline-size: 600px;
    text-align: center;
}

h2 {
    margin: 0px auto;
    font-size: 2rem;
    font-weight: 500;
    max-inline-size: 700px;
    text-align: center;
}

.form {
    margin: 100px auto;
    width: 810px;
    background-color: #ffffff29;
    padding: 30px;
    border-radius: 25px;
}

.form__control {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;
}

.form__control input, 
.form__control textarea, 
.form__control select {
    padding-left: 20px;
    margin-top: 5px;
    width: 100%;
    height: 60px;
    border-radius: 14px;
    border: none;
    outline: none;
    color: #111729;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    box-sizing: border-box;
}::placeholder {
    color: #CDD5E0;
}

.form__control textarea {
    padding-top: 16px;
    height: auto;
    width: 100%;
}

.form__control label {
    display: block;
    font-size: .875rem;
    color: white;
}

.submit {
    border: none;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 800;
    color: #4036A9;
    border-radius: 16px;
    min-height: 64px;
}

@media screen and (max-width: 650px) {
    .form {
        width: 90%;
    }
    .row {
        flex-wrap: wrap;
    }
    h1, 
    h2 {
		width: 80%;
	}
}